SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'UsicManager')
BEGIN
CREATE DATABASE UsicManager
END

GO
USE UsicManager

GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOAI_HOI_VIEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOAI_HOI_VIEN](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAI_HOI_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BUOI_SINH_HOAT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BUOI_SINH_HOAT](
	[MaBuoi] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[DiaDiem] [nvarchar](50) NOT NULL,
	[NoiDungChinh] [nvarchar](100) NULL,
 CONSTRAINT [PK_BUOI_SINH_HOAT] PRIMARY KEY CLUSTERED 
(
	[MaBuoi] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectLOAI_HOI_VIENsDynamic]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectLOAI_HOI_VIENsDynamic]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectLOAI_HOI_VIENsDynamic]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectLOAI_HOI_VIENsDynamic]
	@WhereCondition nvarchar(500),
	@OrderByExpression nvarchar(250) = NULL
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

DECLARE @SQL nvarchar(3250)

SET @SQL = ''
SELECT
	[MaLoai],
	[TenLoai]
FROM
	[dbo].[LOAI_HOI_VIEN]
WHERE
	'' + @WhereCondition

IF @OrderByExpression IS NOT NULL AND LEN(@OrderByExpression) > 0
BEGIN
	SET @SQL = @SQL + ''
ORDER BY
	'' + @OrderByExpression
END

EXEC sp_executesql @SQL

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectBUOI_SINH_HOATsDynamic]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectBUOI_SINH_HOATsDynamic]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectBUOI_SINH_HOATsDynamic]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectBUOI_SINH_HOATsDynamic]
	@WhereCondition nvarchar(500),
	@OrderByExpression nvarchar(250) = NULL
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

DECLARE @SQL nvarchar(3250)

SET @SQL = ''
SELECT
	[MaBuoi],
	[ThoiGian],
	[DiaDiem],
	[NoiDungChinh]
FROM
	[dbo].[BUOI_SINH_HOAT]
WHERE
	'' + @WhereCondition

IF @OrderByExpression IS NOT NULL AND LEN(@OrderByExpression) > 0
BEGIN
	SET @SQL = @SQL + ''
ORDER BY
	'' + @OrderByExpression
END

EXEC sp_executesql @SQL

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectHOI_VIENsDynamic]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectHOI_VIENsDynamic]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectHOI_VIENsDynamic]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectHOI_VIENsDynamic]
	@WhereCondition nvarchar(500),
	@OrderByExpression nvarchar(250) = NULL
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

DECLARE @SQL nvarchar(3250)

SET @SQL = ''
SELECT
	[MSSV],
	[HoTen],
	[Email],
	[DienThoai],
	[LaDoanVien],
	[LaHoiVien],
	[LaDangVien],
	[LoaiHoiVien]
FROM
	[dbo].[HOI_VIEN]
WHERE
	'' + @WhereCondition

IF @OrderByExpression IS NOT NULL AND LEN(@OrderByExpression) > 0
BEGIN
	SET @SQL = @SQL + ''
ORDER BY
	'' + @OrderByExpression
END

EXEC sp_executesql @SQL

--endregion

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectTHAM_GIA_SINH_HOATsDynamic]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectTHAM_GIA_SINH_HOATsDynamic]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectTHAM_GIA_SINH_HOATsDynamic]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectTHAM_GIA_SINH_HOATsDynamic]
	@WhereCondition nvarchar(500),
	@OrderByExpression nvarchar(250) = NULL
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

DECLARE @SQL nvarchar(3250)

SET @SQL = ''
SELECT
	[MaBuoiSH],
	[MSSV]
FROM
	[dbo].[THAM_GIA_SINH_HOAT]
WHERE
	'' + @WhereCondition

IF @OrderByExpression IS NOT NULL AND LEN(@OrderByExpression) > 0
BEGIN
	SET @SQL = @SQL + ''
ORDER BY
	'' + @OrderByExpression
END

EXEC sp_executesql @SQL

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HOI_VIEN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HOI_VIEN](
	[MSSV] [char](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [char](30) NOT NULL,
	[DienThoai] [char](12) NULL,
	[LaDoanVien] [bit] NULL,
	[LaHoiVien] [bit] NULL,
	[LaDangVien] [bit] NULL,
	[LoaiHoiVien] [int] NULL,
 CONSTRAINT [PK_HOI_VIEN] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[THAM_GIA_SINH_HOAT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[THAM_GIA_SINH_HOAT](
	[MaBuoiSH] [int] NOT NULL,
	[MSSV] [char](10) NOT NULL,
 CONSTRAINT [PK_THAM_GIA_SINH_HOAT] PRIMARY KEY CLUSTERED 
(
	[MaBuoiSH] ASC,
	[MSSV] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectLOAI_HOI_VIENsAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectLOAI_HOI_VIENsAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectLOAI_HOI_VIENsAll]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectLOAI_HOI_VIENsAll]
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[MaLoai],
	[TenLoai]
FROM
	[dbo].[LOAI_HOI_VIEN]

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_InsertLOAI_HOI_VIEN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_InsertLOAI_HOI_VIEN]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_InsertLOAI_HOI_VIEN]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_InsertLOAI_HOI_VIEN]
	@TenLoai nvarchar(50),
	@MaLoai int OUTPUT
AS

INSERT INTO [dbo].[LOAI_HOI_VIEN] (
	[TenLoai]
) VALUES (
	@TenLoai
)

SET @MaLoai = SCOPE_IDENTITY()

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_UpdateLOAI_HOI_VIEN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_UpdateLOAI_HOI_VIEN]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_UpdateLOAI_HOI_VIEN]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_UpdateLOAI_HOI_VIEN]
	@MaLoai int,
	@TenLoai nvarchar(50)
AS

UPDATE [dbo].[LOAI_HOI_VIEN] SET
	[TenLoai] = @TenLoai
WHERE
	[MaLoai] = @MaLoai

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_DeleteLOAI_HOI_VIEN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_DeleteLOAI_HOI_VIEN]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_DeleteLOAI_HOI_VIEN]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_DeleteLOAI_HOI_VIEN]
	@MaLoai int
AS

DELETE FROM [dbo].[LOAI_HOI_VIEN]
WHERE
	[MaLoai] = @MaLoai

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectLOAI_HOI_VIEN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectLOAI_HOI_VIEN]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectLOAI_HOI_VIEN]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectLOAI_HOI_VIEN]
	@MaLoai int
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[MaLoai],
	[TenLoai]
FROM
	[dbo].[LOAI_HOI_VIEN]
WHERE
	[MaLoai] = @MaLoai

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_InsertBUOI_SINH_HOAT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_InsertBUOI_SINH_HOAT]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_InsertBUOI_SINH_HOAT]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_InsertBUOI_SINH_HOAT]
	@ThoiGian datetime,
	@DiaDiem nvarchar(50),
	@NoiDungChinh nvarchar(100),
	@MaBuoi int OUTPUT
AS

INSERT INTO [dbo].[BUOI_SINH_HOAT] (
	[ThoiGian],
	[DiaDiem],
	[NoiDungChinh]
) VALUES (
	@ThoiGian,
	@DiaDiem,
	@NoiDungChinh
)

SET @MaBuoi = SCOPE_IDENTITY()

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_UpdateBUOI_SINH_HOAT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_UpdateBUOI_SINH_HOAT]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_UpdateBUOI_SINH_HOAT]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_UpdateBUOI_SINH_HOAT]
	@MaBuoi int,
	@ThoiGian datetime,
	@DiaDiem nvarchar(50),
	@NoiDungChinh nvarchar(100)
AS

UPDATE [dbo].[BUOI_SINH_HOAT] SET
	[ThoiGian] = @ThoiGian,
	[DiaDiem] = @DiaDiem,
	[NoiDungChinh] = @NoiDungChinh
WHERE
	[MaBuoi] = @MaBuoi

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_DeleteBUOI_SINH_HOAT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_DeleteBUOI_SINH_HOAT]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_DeleteBUOI_SINH_HOAT]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_DeleteBUOI_SINH_HOAT]
	@MaBuoi int
AS

DELETE FROM [dbo].[BUOI_SINH_HOAT]
WHERE
	[MaBuoi] = @MaBuoi

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectBUOI_SINH_HOAT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectBUOI_SINH_HOAT]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectBUOI_SINH_HOAT]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectBUOI_SINH_HOAT]
	@MaBuoi int
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[MaBuoi],
	[ThoiGian],
	[DiaDiem],
	[NoiDungChinh]
FROM
	[dbo].[BUOI_SINH_HOAT]
WHERE
	[MaBuoi] = @MaBuoi

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectBUOI_SINH_HOATsAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectBUOI_SINH_HOATsAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectBUOI_SINH_HOATsAll]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectBUOI_SINH_HOATsAll]
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[MaBuoi],
	[ThoiGian],
	[DiaDiem],
	[NoiDungChinh]
FROM
	[dbo].[BUOI_SINH_HOAT]

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_InsertTHAM_GIA_SINH_HOAT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_InsertTHAM_GIA_SINH_HOAT]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_InsertTHAM_GIA_SINH_HOAT]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_InsertTHAM_GIA_SINH_HOAT]
	@MaBuoiSH int,
	@MSSV char(10)
AS

INSERT INTO [dbo].[THAM_GIA_SINH_HOAT] (
	[MaBuoiSH],
	[MSSV]
) VALUES (
	@MaBuoiSH,
	@MSSV
)

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_DeleteTHAM_GIA_SINH_HOAT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_DeleteTHAM_GIA_SINH_HOAT]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_DeleteTHAM_GIA_SINH_HOAT]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_DeleteTHAM_GIA_SINH_HOAT]
	@MaBuoiSH int,
	@MSSV char(10)
AS

DELETE FROM [dbo].[THAM_GIA_SINH_HOAT]
WHERE
	[MaBuoiSH] = @MaBuoiSH
	AND [MSSV] = @MSSV

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectTHAM_GIA_SINH_HOAT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectTHAM_GIA_SINH_HOAT]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectTHAM_GIA_SINH_HOAT]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectTHAM_GIA_SINH_HOAT]
	@MaBuoiSH int,
	@MSSV char(10)
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[MaBuoiSH],
	[MSSV]
FROM
	[dbo].[THAM_GIA_SINH_HOAT]
WHERE
	[MaBuoiSH] = @MaBuoiSH
	AND [MSSV] = @MSSV

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectTHAM_GIA_SINH_HOATsAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectTHAM_GIA_SINH_HOATsAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectTHAM_GIA_SINH_HOATsAll]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectTHAM_GIA_SINH_HOATsAll]
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[MaBuoiSH],
	[MSSV]
FROM
	[dbo].[THAM_GIA_SINH_HOAT]

--endregion


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectHOI_VIENsAll]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectHOI_VIENsAll]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectHOI_VIENsAll]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectHOI_VIENsAll]
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[MSSV],
	[HoTen],
	[Email],
	[DienThoai],
	[LaDoanVien],
	[LaHoiVien],
	[LaDangVien],
	[LoaiHoiVien]
FROM
	[dbo].[HOI_VIEN]

--endregion

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_InsertHOI_VIEN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_InsertHOI_VIEN]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_InsertHOI_VIEN]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_InsertHOI_VIEN]
	@MSSV char(10),
	@HoTen nvarchar(50),
	@Email char(30),
	@DienThoai char(12),
	@LaDoanVien bit,
	@LaHoiVien bit,
	@LaDangVien bit,
	@LoaiHoiVien int
AS

INSERT INTO [dbo].[HOI_VIEN] (
	[MSSV],
	[HoTen],
	[Email],
	[DienThoai],
	[LaDoanVien],
	[LaHoiVien],
	[LaDangVien],
	[LoaiHoiVien]
) VALUES (
	@MSSV,
	@HoTen,
	@Email,
	@DienThoai,
	@LaDoanVien,
	@LaHoiVien,
	@LaDangVien,
	@LoaiHoiVien
)

--endregion

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_UpdateHOI_VIEN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_UpdateHOI_VIEN]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_UpdateHOI_VIEN]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_UpdateHOI_VIEN]
	@MSSV char(10),
	@HoTen nvarchar(50),
	@Email char(30),
	@DienThoai char(12),
	@LaDoanVien bit,
	@LaHoiVien bit,
	@LaDangVien bit,
	@LoaiHoiVien int
AS

UPDATE [dbo].[HOI_VIEN] SET
	[HoTen] = @HoTen,
	[Email] = @Email,
	[DienThoai] = @DienThoai,
	[LaDoanVien] = @LaDoanVien,
	[LaHoiVien] = @LaHoiVien,
	[LaDangVien] = @LaDangVien,
	[LoaiHoiVien] = @LoaiHoiVien
WHERE
	[MSSV] = @MSSV

--endregion

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_DeleteHOI_VIEN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_DeleteHOI_VIEN]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_DeleteHOI_VIEN]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_DeleteHOI_VIEN]
	@MSSV char(10)
AS

DELETE FROM [dbo].[HOI_VIEN]
WHERE
	[MSSV] = @MSSV

--endregion

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_SelectHOI_VIEN]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
--region [dbo].[sp_SelectHOI_VIEN]

------------------------------------------------------------------------------------------------------------------------
-- Generated By:   Le Van Long using CodeSmith 5.0.0.0
-- Template:       StoredProcedures.cst
-- Procedure Name: [dbo].[sp_SelectHOI_VIEN]
-- Date Generated: Monday, June 21, 2010
------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_SelectHOI_VIEN]
	@MSSV char(10)
AS

SET TRANSACTION ISOLATION LEVEL READ COMMITTED

SELECT
	[MSSV],
	[HoTen],
	[Email],
	[DienThoai],
	[LaDoanVien],
	[LaHoiVien],
	[LaDangVien],
	[LoaiHoiVien]
FROM
	[dbo].[HOI_VIEN]
WHERE
	[MSSV] = @MSSV

--endregion

' 
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HOI_VIEN_LOAI_HOI_VIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[HOI_VIEN]'))
ALTER TABLE [dbo].[HOI_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_HOI_VIEN_LOAI_HOI_VIEN] FOREIGN KEY([LoaiHoiVien])
REFERENCES [dbo].[LOAI_HOI_VIEN] ([MaLoai])
GO
ALTER TABLE [dbo].[HOI_VIEN] CHECK CONSTRAINT [FK_HOI_VIEN_LOAI_HOI_VIEN]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_THAM_GIA_SINH_HOAT_BUOI_SINH_HOAT]') AND parent_object_id = OBJECT_ID(N'[dbo].[THAM_GIA_SINH_HOAT]'))
ALTER TABLE [dbo].[THAM_GIA_SINH_HOAT]  WITH CHECK ADD  CONSTRAINT [FK_THAM_GIA_SINH_HOAT_BUOI_SINH_HOAT] FOREIGN KEY([MaBuoiSH])
REFERENCES [dbo].[BUOI_SINH_HOAT] ([MaBuoi])
GO
ALTER TABLE [dbo].[THAM_GIA_SINH_HOAT] CHECK CONSTRAINT [FK_THAM_GIA_SINH_HOAT_BUOI_SINH_HOAT]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_THAM_GIA_SINH_HOAT_HOI_VIEN]') AND parent_object_id = OBJECT_ID(N'[dbo].[THAM_GIA_SINH_HOAT]'))
ALTER TABLE [dbo].[THAM_GIA_SINH_HOAT]  WITH CHECK ADD  CONSTRAINT [FK_THAM_GIA_SINH_HOAT_HOI_VIEN] FOREIGN KEY([MSSV])
REFERENCES [dbo].[HOI_VIEN] ([MSSV])
GO
ALTER TABLE [dbo].[THAM_GIA_SINH_HOAT] CHECK CONSTRAINT [FK_THAM_GIA_SINH_HOAT_HOI_VIEN]
GO
/****** Object:  Table [dbo].[THAM_GIA_SINH_HOAT]    Script Date: 06/21/2010 20:38:47 ******/
DELETE FROM [dbo].[THAM_GIA_SINH_HOAT]
GO
/****** Object:  Table [dbo].[HOI_VIEN]    Script Date: 06/21/2010 20:38:47 ******/
DELETE FROM [dbo].[HOI_VIEN]
GO
/****** Object:  Table [dbo].[BUOI_SINH_HOAT]    Script Date: 06/21/2010 20:38:47 ******/
DELETE FROM [dbo].[BUOI_SINH_HOAT]
GO
/****** Object:  Table [dbo].[LOAI_HOI_VIEN]    Script Date: 06/21/2010 20:38:47 ******/
DELETE FROM [dbo].[LOAI_HOI_VIEN]
GO
/****** Object:  Table [dbo].[LOAI_HOI_VIEN]    Script Date: 06/21/2010 20:38:47 ******/
SET IDENTITY_INSERT [dbo].[LOAI_HOI_VIEN] ON
INSERT [dbo].[LOAI_HOI_VIEN] ([MaLoai], [TenLoai]) VALUES (1, N'Hội viên chính thức')
INSERT [dbo].[LOAI_HOI_VIEN] ([MaLoai], [TenLoai]) VALUES (2, N'Hội viên dự bị')
SET IDENTITY_INSERT [dbo].[LOAI_HOI_VIEN] OFF
/****** Object:  Table [dbo].[BUOI_SINH_HOAT]    Script Date: 06/21/2010 20:38:47 ******/
/****** Object:  Table [dbo].[HOI_VIEN]    Script Date: 06/21/2010 20:38:47 ******/
INSERT [dbo].[HOI_VIEN] ([MSSV], [HoTen], [Email], [DienThoai], [LaDoanVien], [LaHoiVien], [LaDangVien], [LoaiHoiVien]) VALUES (N'0712255', N'Lê Văn Long', N'lv.long.tn@gmail.com', N'0934724506', 1, 1, 0, 1)
/****** Object:  Table [dbo].[THAM_GIA_SINH_HOAT]    Script Date: 06/21/2010 20:38:47 ******/